<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Drago's Moderation</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- lodash -->
    <script src="/plugins/lodash/js/lodash.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/plugins/adminlte/js/adminlte.js"></script>
    <!-- Mousewheel -->
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment Duration Format -->
    <script src="/plugins/moment-duration-format/js/moment-duration-format.js"></script>

    <!--izi-->
    <link rel="stylesheet" href="/plugins/iziModal/css/iziModal.min.css" />
    <link rel="stylesheet" href="/plugins/iziToast/css/iziToast.min.css" />
    <script src="/plugins/iziModal/js/iziModal.min.js"></script>
    <script src="/plugins/iziToast/js/iziToast.min.js"></script>
  </head>

  <body
    class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  >
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              data-widget="pushmenu"
              href="#"
              title="Display / Hide Side Menu"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-danger elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
          <img
            src="/images/main/avatar.png"
            alt="UE"
            class="brand-image img-circle bg-white elevation-3"
            style="opacity: 0.8;"
          />
          <span class="brand-text font-weight-light">Drago's Moderation</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <li class="nav-header text-light">ABOUT US</li>
              <li class="nav-item">
                <a
                  href="/"
                  class="nav-link"
                  id="nav-home"
                  title="Home Page; learn about Drago Moderation Bot"
                >
                  <i class="nav-icon fas fa-home"></i>
                  <p>
                    Home
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a
                  href="/setup"
                  class="nav-link"
                  id="nav-setup"
                  title="Learn how to set up the bot in your guild"
                >
                  <i class="nav-icon fas fa-book"></i>
                  <p>
                    Setup Guide
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a
                  href="/commands"
                  class="nav-link"
                  id="nav-commands"
                  title="Learn about the various commands you can use in the bot"
                >
                  <i class="nav-icon fas fa-terminal"></i>
                  <p>
                    Commands
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a
                  href="/changelog"
                  class="nav-link"
                  id="nav-changelog"
                  title="Learn about the various commands you can use in the bot"
                >
                  <i class="fas fa-list-ul"></i>
                  <p>
                    Change Log
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <!-- TODO: Find a way to inject the support invite link vis sails config-->
                <a
                  href="https://discord.gg/UAqaBQx"
                  class="nav-link"
                  id="nav-support"
                  title="Join the Discord support server for Drago's moderation if you have any questions, suggestions, or bug reports."
                >
                  <i class="fab fa-discord"></i>
                  <p>
                    Support Server
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a
                  href="/privacy"
                  class="nav-link"
                  id="nav-privacy"
                  title="Read our bot privacy policy to learn what data it collects and how it is used."
                >
                  <i class="nav-icon fas fa-user-shield"></i>
                  <p>
                    Privacy Policy
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a
                  href="/dash"
                  class="nav-link"
                  id="nav-dash"
                  title="Access the bot dashboard for your guild"
                >
                  <i class="fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <%- body %>
    </div>
  </body>
</html>
