<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark guild-name">Drago's Moderation</h1>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="alert alert-info alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h5>Website Under Construction!</h5>
      Drago's Moderation and its website are still under heavy development. Many
      things do not work yet.
    </div>

    <div class="card card-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-indigo">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="widget-user-image">
              <img
                class="img-circle elevation-2"
                src="/images/main/avatar.png"
                alt="Bot avatar"
              />
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">Drago's Moderation</h3>
            <h5 class="widget-user-desc">
              A Unique Moderation and Anti-Raid Bot
            </h5>
          </div>
          <div class="col-12 col-md-4">
            <!-- TODO: Add bot invite link-->
            <!-- TODO: Find way to inject bot invite link via sails config-->
            <!-- TODO: Keep bot invite link updated with latest permissions. If any changes, make a big announcement so others know. -->
            <!-- NOTE: do NOT make the bot ask for the admin flag; Discord will be removing that capability in the future -->
            <a type="button" href="#" class="btn btn-block bg-black btn-lg"
              >Add Me to your Server</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <div
          class="small-box bg-primary"
          title="Current version of the bot in use"
        >
          <div class="inner">
            <h3 class="count-version">???</h3>

            <p>Current Version</p>
          </div>
          <div class="icon">
            <i class="fas fa-robot"></i>
          </div>
          <a href="/changelog" class="small-box-footer">
            Change Log <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div
          class="small-box bg-success"
          title="Number of guilds currently using Drago's Moderation"
        >
          <div class="inner">
            <h3 class="count-guilds">???</h3>

            <p>Guilds</p>
          </div>
          <div class="icon">
            <i class="fas fa-users"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->

      <div class="col-lg-3 col-md-6 col-12">
        <div
          class="small-box bg-info"
          title="Number of members in every guild used by the bot"
        >
          <div class="inner">
            <h3 class="count-members">???</h3>

            <p>Members</p>
          </div>
          <div class="icon">
            <i class="fas fa-user"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div
          class="small-box bg-warning"
          title="Number of moderation actions / logs so far by Drago's Moderation."
        >
          <div class="inner">
            <h3 class="count-modlogs">???</h3>

            <p>Moderation Actions</p>
          </div>
          <div class="icon">
            <i class="fas fa-ban"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <h2 class="text-center">Features</h2>
    <p>Coming Soon</p>
  </div>

  <script>
    // Activate the menu item
    $("#nav-home").addClass("active");

    // Get stats
    var statFn = (path, dom, name) => {
      $.ajax(path, {
        type: "POST", // http method
        data: {}, // data to submit
        success: function (response, status, xhr) {
          if (typeof response !== "undefined") {
            $(dom).html(response);
          } else {
            $(document).Toasts("create", {
              class: "bg-danger",
              title: `Error getting ${name} statistics`,
              body: `There was an error getting ${name} statistics. Please let the developers know in the support server.`,
              icon: "fas fa-skull-crossbones fa-lg",
            });
          }
        },
        error: function (jqXhr, textStatus, errorMessage) {
          $(document).Toasts("create", {
            class: "bg-danger",
            title: `Error getting ${name} statistics`,
            body: `There was an error getting ${name} statistics. Please let the developers know in the support server.`,
            icon: "fas fa-skull-crossbones fa-lg",
          });
          console.error(errorMessage);
        },
      });
    };
    statFn("/stats/guilds", ".count-guilds", "guild");
    statFn("/stats/members", ".count-members", "guild members");
    statFn("/stats/modlogs", ".count-modlogs", "moderation logs");
    statFn("/stats/version", ".count-version", "version");
  </script>
</div>
