<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark guild-name">Drago's Moderation - Setup</h1>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="alert alert-info alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h5>Page is not finished!</h5>
      Drago's Moderation and its website are still under heavy development. This
      page is not finished yet.
    </div>
    <p>
      Howdy! If you are looking at this page, you have probably already added
      Drago's Moderation to your guild. If not, go to "home" and invite the bot
      to your server! This page will outline important information on how to get
      the bot set up.
    </p>
    <h2>Permissions</h2>
    <div class="callout callout-info">
      <h5>Skip the fuss with the Administrator role</h5>
      <p>
        If you want to avoid having to manage all these permissions, simply give
        the bot administrator (the bot invite link does not do this by default).
      </p>
    </div>
    <p>
      We know some people do not trust bots with administrator role (for good
      reason). If you prefer not to make Drago Moderation an administrator, you
      can instead assign all the permissions it needs manually. The bot invite
      link will assign these permissions by default:
    </p>
    <ul>
      <!-- TODO: Keep this updated -->
      <li>
        CREATE_INSTANT_INVITE [if you want the bot to generate invites
        automatically]
      </li>
      <li>KICK_MEMBERS [moderation]</li>
      <li>BAN_MEMBERS [moderation]</li>
      <li>MANAGE_CHANNEL (for all channels) [archiving and auto-deleting]</li>
      <li>ADD_REACTIONS (for all channels) [embed menus]</li>
      <li>VIEW_AUDIT_LOG [moderation and logging]</li>
      <li>VIEW_CHANNEL (for all channels) [antispam / antiraid]</li>
      <li>SEND_MESSAGES (for all channels) [so the bot can communicate]</li>
      <li>
        MANAGE_MESSAGES (for all channels) [deleting original command messages,
        pruning, etc]
      </li>
      <li>EMBED_LINKS (for all channels) [Bot uses embeds to respond]</li>
      <li>
        ATTACH_FILES (for all channels) [Bot posts TXT files of archives for
        certain logs]
      </li>
      <li>
        READ_MESSAGE_HISTORY (for all channels) [Pruning, moderation, antispam /
        antiraid]
      </li>
      <li>MUTE_MEMBERS [moderation]</li>
      <li>DEAFEN_MEMBERS [moderation]</li>
      <li>MANAGE_ROLES [moderation; XP levels; self roles]</li>
    </ul>
  </div>

  <script>
    // Activate the menu item
    $("#nav-setup").addClass("active");
  </script>
</div>
